
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head th:fragment="head">
       <title>Estados</title>
        <meta charset="UTF-8"/>        
        <link href="/css/estilos.css" rel="stylesheet" type="text/css"/>
        <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
        <link rel="stylesheet" th:href="@{/webjars/font-awesome/css/all.css}"/>
        <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
        <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
        <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    
    </head>
    
    
    <body bgcolor="#1c1c1c">
    
        <center>
    <header>&nbsp;&nbsp;
        <div><img src="/img/imgCR.png" height="80"/>&nbsp;&nbsp; 
    <img src="/img/1.png" height="80"/>&nbsp;&nbsp;
    <img src="/img/2.jpeg" height="80"/>&nbsp;&nbsp;
    <img src="/img/3.png" height="80"/>&nbsp;&nbsp;
    <img src="/img/4.png"height="80"/>&nbsp;&nbsp;
    <img src="/img/5.png" height="80"/>&nbsp;&nbsp;
    <img src="/img/6.jpeg" height="80"/>&nbsp;&nbsp;
    <img src="/img/7.png" height="80"/>&nbsp;&nbsp; </div>
    </center>
  
  </header>
  </body>
  </html>

 