.td {
  background-color: #f5f5dc;
  border: 1px solid #7de3bb;
  
}
.btn{
    background-color: #7de3bb;
}

.mi-section {
  border: 3px solid #000000;
  padding: 10px;
}

.mi-section2 {
  border: 3px solid #000000;
}


      .title{
    color:#7de3b1;
    padding: 2px;
    width: 200px;
    height: 100%;
    
}

.contenedor {
  display: flex;
}
section {
  flex: 1;
}


 * {
            font-family: "Sams Serif", sans-serif;
        }
* {
            background-color: #F5F5F5;
        }